In [ ]:
!pip install psycopg2
import psycopg2

conn = psycopg2.connect(
    dbname="new_database",  # Replace with your database name
    user="myuser",    # Replace with your PostgreSQL username
    password="myuser",# Replace with your PostgreSQL password
    host="localhost",        # Use the IP of the server if not local
    port="5432"              # Default PostgreSQL port
)

# Create a cursor object to interact with the database
cur = conn.cursor()

# Execute a query
cur.execute("SELECT version();")

# Fetch and print the result
db_version = cur.fetchone()
print("Connected to:", db_version)

# Close the connection
cur.close()
conn.close()

:

In [28]:
def get_connection():
    conn = psycopg2.connect(
    dbname="new_database",  # Replace with your database name
    user="myuser",    # Replace with your PostgreSQL username
    password="myuser",# Replace with your PostgreSQL password
    host="localhost",        # Use the IP of the server if not local
    port="5432"              # Default PostgreSQL port
)
    return conn

In [29]:
cur = get_connection().cursor()

cur.execute("SELECT table_name FROM information_schema.tables;")
tables = cur.fetchall()

print("Tables:", [table[0] for table in tables])

cur.close()
conn.close()

Tables: ['pg_type', 'pg_foreign_table', 'pg_roles', 'pg_settings', 'pg_available_extension_versions', 'pg_stat_xact_user_functions', 'pg_subscription', 'pg_attribute', 'pg_proc', 'pg_class', 'pg_attrdef', 'pg_constraint', 'pg_inherits', 'pg_index', 'pg_operator', 'pg_opfamily', 'pg_opclass', 'pg_am', 'pg_amop', 'pg_amproc', 'pg_language', 'pg_stat_archiver', 'pg_stat_bgwriter', 'pg_stat_wal', 'pg_stat_progress_analyze', 'pg_stat_progress_vacuum', 'pg_stat_progress_cluster', 'pg_stat_progress_create_index', 'pg_stat_progress_basebackup', 'pg_stat_progress_copy', 'pg_largeobject_metadata', 'pg_aggregate', 'pg_statistic_ext', 'pg_rewrite', 'pg_trigger', 'pg_event_trigger', 'pg_description', 'pg_cast', 'pg_enum', 'pg_namespace', 'pg_conversion', 'pg_depend', 'pg_database', 'pg_db_role_setting', 'pg_tablespace', 'pg_auth_members', 'pg_shdepend', 'pg_shdescription', 'pg_ts_config', 'pg_ts_config_map', 'pg_ts_dict', 'pg_ts_parser', 'pg_ts_template', 'pg_extension', 'pg_foreign_data_wrapper', 'pg_foreign_server', 'pg_policy', 'pg_replication_origin', 'pg_default_acl', 'pg_init_privs', 'pg_seclabel', 'pg_shseclabel', 'pg_collation', 'pg_partitioned_table', 'pg_range', 'pg_transform', 'pg_sequence', 'pg_publication', 'pg_publication_rel', 'pg_subscription_rel', 'pg_matviews', 'pg_group', 'pg_user', 'pg_policies', 'pg_rules', 'pg_views', 'pg_tables', 'pg_indexes', 'pg_sequences', 'pg_stats', 'pg_stats_ext', 'pg_stats_ext_exprs', 'pg_publication_tables', 'pg_locks', 'pg_cursors', 'pg_available_extensions', 'pg_prepared_xacts', 'pg_prepared_statements', 'pg_seclabels', 'pg_stat_xact_user_tables', 'pg_timezone_abbrevs', 'pg_timezone_names', 'pg_statio_all_tables', 'pg_statio_sys_tables', 'pg_stat_all_tables', 'pg_stat_xact_all_tables', 'pg_stat_sys_tables', 'pg_stat_xact_sys_tables', 'pg_stat_user_tables', 'pg_statio_user_tables', 'pg_stat_all_indexes', 'pg_stat_sys_indexes', 'pg_stat_user_indexes', 'pg_statio_all_indexes', 'pg_statio_sys_indexes', 'pg_statio_user_indexes', 'pg_statio_all_sequences', 'pg_statio_sys_sequences', 'pg_statio_user_sequences', 'pg_stat_activity', 'pg_stat_replication', 'pg_stat_slru', 'pg_stat_wal_receiver', 'pg_stat_subscription', 'pg_stat_ssl', 'pg_stat_gssapi', 'pg_replication_slots', 'pg_stat_replication_slots', 'pg_stat_database', 'pg_stat_database_conflicts', 'pg_stat_user_functions', 'pg_user_mappings', 'information_schema_catalog_name', 'attributes', 'applicable_roles', 'administrable_role_authorizations', 'check_constraint_routine_usage', 'character_sets', 'check_constraints', 'collations', 'collation_character_set_applicability', 'column_column_usage', 'column_domain_usage', 'routines', 'column_privileges', 'role_column_grants', 'column_udt_usage', 'columns', 'constraint_column_usage', 'routine_column_usage', 'constraint_table_usage', 'domain_constraints', 'domain_udt_usage', 'routine_privileges', 'domains', 'enabled_roles', 'schemata', 'key_column_usage', 'role_routine_grants', 'parameters', 'referential_constraints', 'routine_routine_usage', 'routine_sequence_usage', 'sequences', 'routine_table_usage', 'sql_implementation_info', 'sql_features', 'sql_sizing', 'table_constraints', 'table_privileges', 'view_table_usage', 'role_table_grants', 'tables', 'user_mappings', 'triggered_update_columns', 'views', 'triggers', 'udt_privileges', 'foreign_data_wrappers', 'role_udt_grants', 'data_type_privileges', 'usage_privileges', 'role_usage_grants', 'user_defined_types', 'element_types', 'view_column_usage', 'view_routine_usage', 'column_options', 'foreign_table_options', 'foreign_data_wrapper_options', 'foreign_server_options', 'foreign_servers', 'user_mapping_options', 'foreign_tables']

In [30]:
conn = get_connection()
cur = conn.cursor()

# Create the table
cur.execute("""
    CREATE TABLE IF NOT EXISTS snake_game2 (
        game_id SERIAL PRIMARY KEY,
        player_name VARCHAR(50) NOT NULL,
        score INT NOT NULL DEFAULT 0,
        duration_seconds INT NOT NULL,
        game_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );
""")

conn.commit()
print("Snake game table created successfully!")

cur.close()
conn.close()

Snake game table created successfully!

In [31]:
conn = get_connection()
cur = conn.cursor()

# Execute the query
cur.execute("SELECT * FROM snake_game2;")

# Fetch and print all rows
rows = cur.fetchall()
for row in rows:
    print(row)

cur.close()
conn.close()

In [32]:
name = input('Provide your name: ')
score = int(input('Provide your score: '))
duration_seconds = int(input('Provide the duration: '))

Provide your name:  Samat
Provide your score:  100
Provide the duration:  500

## Insert values

In [107]:
(5, name, score, duration_seconds, '2024-04-01')

(5, 'Test', 100, 50, '2024-04-01')

In [35]:
conn = get_connection()
cur = conn.cursor()

# Insert data
cur.execute("""
    INSERT INTO snake_game2 (game_id, player_name, score, duration_seconds, game_date) 
    VALUES (%s, %s, %s, %s, %s)
""", (2, name, score, duration_seconds, '2025-04-11'))

# Commit and close
conn.commit()
cur.close()
conn.close()

print("Data inserted successfully!")

Data inserted successfully!

In [36]:
conn = get_connection()
cur = conn.cursor()

# Execute the query
cur.execute("SELECT * FROM snake_game2;")

# Fetch and print all rows
rows = cur.fetchall()
for row in rows:
    print(row)

cur.close()
conn.close()

(1, 'Samat', 100, 500, datetime.datetime(2025, 4, 11, 0, 0))
(2, 'Samat', 100, 500, datetime.datetime(2025, 4, 11, 0, 0))

In [37]:
import datetime
game_date = datetime.datetime.now()

In [38]:
game_date

datetime.datetime(2025, 4, 11, 12, 30, 14, 44228)

In [39]:


conn = get_connection()
cur = conn.cursor()

# Insert data
cur.execute("""
    INSERT INTO snake_game2 (game_id, player_name, score, duration_seconds, game_date) 
    VALUES (%s, %s, %s, %s, %s)
""", (3, 'Will', 150, 4, game_date))

# Commit and close
conn.commit()
cur.close()
conn.close()

print("Data inserted successfully!")

Data inserted successfully!

## Truncate table

In [40]:
conn = get_connection()
cur = conn.cursor()

# Truncate the table
cur.execute("TRUNCATE TABLE snake_game2 RESTART IDENTITY CASCADE")

# Insert data
cur.execute("""
    INSERT INTO snake_game2 (game_id, player_name, score, duration_seconds, game_date) 
    VALUES (%s, %s, %s, %s, %s)
""", (5, name, score, duration_seconds, '2024-04-01'))

# Commit and close
conn.commit()
cur.close()
conn.close()

print("Table truncated and data inserted successfully!")

Table truncated and data inserted successfully!

## Insert data from csv

In [41]:
import csv

In [42]:
import os
os.getcwd()

'/Users/user/Documents/KBTU_WORK/pp2/Lecture_notes/week_13'

In [ ]:
/Users/user/Documents/KBTU_WORK/pp2/Lecture_notes/week_13/file_csv.txt

In [ ]:
psql -U myuser -d new_database -c "\copy snake_game2 FROM '/Users/user/Documents/KBTU_WORK/pp2/Lecture_notes/week_13/file_csv.txt' DELIMITER ',' CSV HEADER;"

In [43]:
conn = get_connection()
cur = conn.cursor()

# Open the CSV file
with open('file_csv.txt', 'r') as f:
    reader = csv.reader(f)
    next(reader)  # Skip header if present

    for row in reader:
        cur.execute(
            '''INSERT INTO snake_game2 (game_id, player_name, score, duration_seconds, game_date) 
    VALUES (%s, %s, %s, %s, %s)''',
            row
        )

conn.commit()
cur.close()
conn.close()
print('CSV data exported successfully')

CSV data exported successfully

In [70]:
l1 = [2,4,3]
l2 = [5,6,4]
# [7,0,8]
# 342 + 465 = 807

In [71]:
def get_sum(l1, l2):
    n1 = ''
    n2 = ''
    for a,b in zip(l1, l2):
        n1 = str(a) +n1
        n2 = str(b) +n2
    print(n1)
    print(n2)
    result = int(n1) + int(n2)
    result = list(str(result))
    result.reverse()
    return result

In [72]:
get_sum(l1,l2)

342
465

['7', '0', '8']